<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<input type="text" name="name" id="createChannelName" class="form-control">
<button onclick="createChannel()" class="btn btn-secondary">채널 생성</button>
<div id ="channelList">

</div>

<div id = "msgArea"></div>
<input type="text" id = "msg"><button onclick="sendMsg()">send</button>

<script>
    var sockJs;
    var stomp;
    var roomId;
    $(document).ready(function(){
        sockJs = new SockJS("http://54.180.154.178/socket");
        //1. SockJS를 내부에 들고있는 stomp를 내어줌
        stomp = Stomp.over(sockJs);
        stomp.connect({},function (){
            getChannel();
        })

    });
    function sendMsg(){
        stomp.send('/pub/message',{},
            JSON.stringify({
                roomId: roomId,
                writer: "test",
                message:$("#msg").val()
            }));
        $("#msg").val("");
    }


    function getChannel(){
        $("#channelList").empty();
        $.ajax({
            type: "GET",
            url: "http://54.180.154.178/rooms",
            contentType: "application/json",
            success: function (responses, textStatus, request) {
                console.log(responses);
                for (let response of responses){
                    $("#channelList").append(
                        `<a onclick="enter('${response.roomId}')">${response.name}</a><br>`);
                }
            }
        });
    }
    function createChannel(){
        $.ajax({
            type: "POST",
            async:false ,
            url: "http://54.180.154.178/room",
            data:JSON.stringify({
                "name" : $("#createChannelName").val()
            }),
            contentType: "application/json",
            success: function (response) {
                console.log(response);
            }
        });
        getChannel();
    }


    function enter(roomId2) {
        var username = "test"
        roomId = roomId2;
        stomp.subscribe("/sub/channel/" + roomId2, function (chat) {
            console.log("asdfaadw")
            var content = JSON.parse(chat.body);
            var writer = content.writer;
            var str = '';

            if(writer === username){
                str = "<div class='col-6'>";
                str += "<div class='alert alert-secondary'>";
                str += "<b>" + content.writer + " : " + content.message + "</b>";
                str += "</div></div>";
                $("#msgArea").append(str);
            }
            else{
                str = "<div class='col-6'>";
                str += "<div class='alert alert-warning'>";
                str += "<b>" + content.writer + " : " + content.message + "</b>";
                str += "</div></div>";
                $("#msgArea").append(str);
            }
        });
        stomp.send('/pub/enter',{},JSON.stringify({roomId: roomId2, writer: username}));
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!--    <script>-->
<!--        $(document).ready(function(){-->

<!--            var roomName = "asdwd";-->
<!--            var roomId = "aasdawd";-->
<!--            var username = "afsdwdawdsdawd";-->

<!--            console.log(roomName + ", " + roomId + ", " + username);-->

<!--            var sockJs = new SockJS("http://localhost:8080/stomp/chat");-->
<!--            //1. SockJS를 내부에 들고있는 stomp를 내어줌-->
<!--            var stomp = Stomp.over(sockJs);-->

<!--            //2. connection이 맺어지면 실행-->
<!--            stomp.connect({}, function (){-->
<!--                console.log("STOMP Connection")-->

<!--                //4. subscribe(path, callback)으로 메세지를 받을 수 있음-->
<!--                stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {-->
<!--                    console.log("asdfaadw")-->
<!--                    var content = JSON.parse(chat.body);-->

<!--                    var writer = content.writer;-->
<!--                    var str = '';-->

<!--                    if(writer === username){-->
<!--                        str = "<div class='col-6'>";-->
<!--                        str += "<div class='alert alert-secondary'>";-->
<!--                        str += "<b>" + content.writer + " : " + content.message + "</b>";-->
<!--                        str += "</div></div>";-->
<!--                        $("#msgArea").append(str);-->
<!--                    }-->
<!--                    else{-->
<!--                        str = "<div class='col-6'>";-->
<!--                        str += "<div class='alert alert-warning'>";-->
<!--                        str += "<b>" + content.writer + " : " + content.message + "</b>";-->
<!--                        str += "</div></div>";-->
<!--                        $("#msgArea").append(str);-->
<!--                    }-->

<!--                    $("#msgArea").append(str);-->
<!--                });-->

<!--                //3. send(path, header, message)로 메세지를 보낼 수 있음-->
<!--                stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))-->
<!--                stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, writer: username}))-->
<!--            });-->

<!--            $("#button-send").on("click", function(e){-->
<!--                var msg = document.getElementById("msg");-->

<!--                console.log(username + ":" + msg.value);-->
<!--                stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));-->
<!--                msg.value = '';-->
<!--            });-->
<!--        });-->

<!--    </script>-->


</body>
</html>